{% extends 'base.html' %}

{% block head %}
<!-- <link rel="icon" type="image.png" href="static/favicon.png"> -->
<link rel="stylesheet" href="static/liuserver.css">
<!-- <script src="static/something.js" type="module"></script> -->
<!-- <script src="static/something_start.js" type="module"></script> -->
{% endblock %}

{% block title %}LS4 LS Server{% endblock %}

{% block content %}
  <h1>LS4 server for Liu's legacy survey scores</h1>

  <div name="pagebody" id="pagebody">
    <p>Use the API.</p>

    <p>(Put a reference to the Liu paper here once it's submitted/accepted.)</p>

  </div>
{% endblock %}

{% block footer %}
{% endblock %}
  
